<%= form_with(model: order_book) do |form| %>
  <% if order_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_book.errors.count, "error") %> prohibited this order_book from being saved:</h2>

      <ul>
        <% order_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bond_type %>
    <%= form.select :bond_type, OrderBook.bonds.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :edition %>
    <%= form.number_field :edition %>
  </div>

  <div class="field">
    <%= form.label :issn %>
    <%= form.number_field :issn %>
  </div>

  <div class="field">
    <%= form.label :year_publication %>
    <%= form.date_select :year_publication, start_year: 1900, end_year: 2019 %>
  </div>

  <div class="field">
    <%= form.label :publishing_company %>
    <%= form.text_field :publishing_company %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
